@import url('https://fonts.googleapis.com/css?family=Aleo');

body {
    background-color: #ae8f86;
    margin: 0;
    font-family: 'Aleo', serif;
}

#header{ 
    background-color: #ae8f86;
    height: 18px;
    color: white;
    
}

.nav {
    max-width: 800px;
    margin: auto;
}

.links {
    margin-top: 25px;
    font-size: .75rem;
    color: white;
    text-align: right;
}

.links a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.banner {
    text-align: center;
    background-color: #ae8f86;
    border-bottom: solid 10px white;
}

.banner img {
    max-width: 780px;
    width: 50%;
}

.aboutme {
    background-color: #526453;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 470px;
    padding: 20px;
    border-bottom: solid 10px white;
}

.aboutme img {
    max-width: 300px;
    width: 80%;
    align-items: center;
    padding: 90px 80px 80px 200px; 
}

.amtext {
    margin-top: 155px;
    text-align: center;
    color: white;
    font-size: 1.1rem;
}

.p1 {
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 15px;
    font-size: .9rem;
    text-align: justify;
}

.stp {
    background-color: #526453;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 470px;
    padding: 20px;
    border-bottom: solid 10px white;
}

.stp img {
    max-width: 800px;
    width: 80%;
    align-items: center;
    padding: 40px 80px 80px 100px;
}

.stptext {
    margin-top: 155px;
    text-align: center;
    color: white;
    font-size: 1.1rem;
}

.p2 {
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 15px;
    font-size: .9rem;
    text-align: justify;
}

.llt {
    background-color: #526453;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 470px;
    padding: 20px;
    border-bottom: solid 10px white;
}

.llt img {
    max-width: 800px;
    width: 56%;
    align-items: center;
    padding: 60px 80px 77px 150px;
}

.p3 {
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 15px;
    font-size: .9rem;
    text-align: justify;
}

#footer { 
    background-color: #ae8f86;
    height: 40px;
    color: white;
}

.contact {
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: .9rem;
}

.contact a {
    padding: 0 10px;
}
@media screen and (max-width: 480px) {
   
    body{
        background-color: #ae8f86; 
    }
    
    .links { 
        margin-top: 10px;
        text-align: center;
    }